/* commento */

body {
	color: #000000;
	background: #FFFFFF;
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 11pt;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 20pt;
}

table.auto {
	border-width: 3px;
	border-spacing: 1px;
	border-style: ridge;
	border-color: blue;
	background-color: white;
}
table.auto th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color:blue;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.auto td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: blue;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.sample {
	width: 100%;
	border-width: 3px;
	border-spacing: 1px;
	border-style: ridge;
	border-color: blue;
	background-color: white;
}
table.sample th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color:blue;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.sample td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: blue;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
div.nav {
	display: none;
}

a.classeapice{

text-decoration:none;

color:black;

cursor:hand;

cursor:pointer;

}



/* per cambiare le immagini isolate o inline
img.calone {
	border: 3px solid black;
}

img.cinline {
	border: 1px solid red;
}
*/


